
  
  .player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
  }
  
  .player .icon-pause {
    display: none;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  
  .dashboard {
    padding: 16px 16px 14px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
  }
  
  /* HEADER */
  header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  header h4 {
    color: var(--primary-color);
    font-size: 12px;
  }
  
  header h2 {
    color: var(--text-color);
    font-size: 2.7rem;
  }
  
  /* CD */
  .cd {
    display: flex;
    margin: auto;
    width: 200px;
  }
  
  .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
    background-position: center;
  }
  
  /* CONTROL */
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
  }
  
  .control .btn {
    cursor: pointer;
    color: #666;
    padding: 18px;
    font-size: 18px;
  }
  .control .btn:hover {
    opacity: 0.8;
  }
  
  .control .btn.active {
    color: var(--primary-color);
  }
  
  .control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
  }
  
  .progress {
    width: 100%;
    -webkit-appearance: none;
    height: 12px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 11px;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 6px;
  }
  .volume-icon {
    cursor: pointer;
  }
  .volume-icon:hover {
    opacity: 0.8;
  }
 /* Thiết lập cơ bản cho thanh trượt */
.sound-bar {
  -webkit-appearance: none; /* Loại bỏ kiểu mặc định */
  width:14px;
  height: 80px;
  background: #ddd;
  border-radius: 2px;
  outline: none;
  position: relative;
 display: none;
}

/* Thiết lập cho thumb (nút trượt) */
.sound-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 4px;
    /* height: 80px; */
    /* background-color: var(--primary-color);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; */
}
.sound-bar::before:hover {
  opacity: 0.8;

}
/* Thiết lập cho track (đường chạy) */
/* .sound-bar::-webkit-slider-runnable-track { 
  width:12px;
  height: 80px;
  cursor: pointer;
  background: blue; 
  border-radius: 2px; 
} */
.sound-bar::before {
  content: '';
  position: absolute;
  left: 0;
  width: var(--width-before-sound);
  height: 100%;
  background-color: var(--primary-color);
  opacity: 0.8;
  border-radius: 2px;
  cursor: pointer;
}  

/* Để tùy chỉnh phần sau của thumb (phần chưa di chuyển) */
/* .sound-bar::-webkit-slider-runnable-track::after {
  content: '';
  
} */
  .volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 1.8rem;
    padding: 10px 0
}
.volume span {
  display: none;
}
.volume .open {
  display: block !important;
}
  
  /* PLAYLIST */
  .playlist {
    margin-top: 430px;
    padding: 12px 4px;
  }
  
  .song {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
  .song:hover {
    background-color: #f0f0f0;
  }
  
  .song.active {
    background-color: var(--primary-color);
  }
  
  .song:active {
    opacity: 0.8;
  }
  
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: #fff;
  }
  
  .song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .song .body {
    flex: 1;
    padding: 0 16px;
  }
  
  .song .title {
    font-size: 18px;
    color: var(--text-color);
  }
  
  .song .author {
    font-size: 12px;
    color: #999;
  }
  
  .song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
  }

  /* ---------------toast------------------------------- */
.content {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.toast {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2px;
  border-left: 4px solid;
  max-width: 99%;
  width: 480px;
  margin-left: auto;
  transition: all linear 0.3s;
}
.toast-container {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 10;
  max-width: 100%;
}
.toast-icon-check {
  padding: 0 16px;
  font-size: 26px;
  cursor: pointer;

}
.toast-body {
  flex: 1;
}
.toast-title {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-bottom: 4px;
}
.toast-msg {
  font-size: 14px;
  color: #888;
  word-break: break-all;
}
.toast-close {
  padding: 0 16px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.toast-close:hover {
  opacity: 0.8;
}
.toast--success {
  border-color: #47d864;
}
.toast--success .toast-icon-check {
  color:#47d864;
}
.toast--info {
  border-color: #2f86eb;
}
.toast--info .toast-icon-check {
  color:#2f86eb;
}
.toast--warning {
  border-color: #ffc821;
}
.toast--warning .toast-icon-check {
  color:#ffc821;
}
.toast--error {
  border-color: #ff623d;
}
.toast--error .toast-icon-check {
  color:#ff623d;
}
@keyframes slidEInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 38px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
    /* transform: translateX(calc(100% + 38px)); */
  }
}
.btn-toast {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 48px;
  border-radius: 50px;
  cursor: pointer;
  min-width: 120px;
  transition: opacity 0.2s ease;
  user-select: none;  
}
.btn--success {
  background-color: #71be34;
}
.btn--danger {
  background-color: #ff623d;
}
.btn--warn {
  background-color: #ffb702;
}
.btn--info {
  background-color: #2f86eb;
}
.content-btn {
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  padding: 40px 0;
  flex-wrap: wrap;  
}
  .open {
    display: block;
  }

@media (max-width:480px) {
  .toast {
    transform: translateX(30px);
  }
}


/* modal - sign in --------------- */
/* modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  animation: fadeIn  linear 0.2s;
  z-index: 3;
  /* display: none; */
}
.modal-lay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body {
  width: 600px;
  background-color: var(--bg-color);
  border-radius: 10px;
  animation: grow linear 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px;
  position: relative;
}
.close-form {
  position: absolute;
  top: 0;
  right: -30px;
  font-size: 3.3rem;
  text-shadow: 1px 1px 16px #fff;
  filter: brightness(0) saturate(100%) invert(42%) sepia(67%) saturate(3297%) hue-rotate(330deg) brightness(90%) contrast(105%);
  cursor: pointer;   
}
.sign-in-img {
  width: 200px;
  height: unset;
  user-select: none;
  cursor: pointer;
}

.modal-signIn-title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 40px;
  color: var(--color-pri);
  margin-top: 20px;
  letter-spacing: 1px;
}
.modal-signIn-para {
  font-size: 1.8rem;
  color: var(--primary-color);
  width: 90%;
  text-align: center;
  margin: 20px 0 30px;
  line-height: 22px;
}
.form {
  width: 100%;
} 
.group-form {
  width: 100%;
  margin-bottom: 12px;
}
.form-text-input {
  border-radius: 10px;
  border: 1px solid rgb(23, 187, 241);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  position: relative;
}
.form-text-input img {
  position: absolute;
  right: 10px;
}
.form-input {
  height: 100%;
  width: 100% ;
  font-size: 2rem;
  padding: 0 10px;
  outline: none;
  border-radius: 10px;
    border: none;
    font-weight: 500;
} 

.group-form:has(.form-input:invalid:not(:placeholder-shown)) .form-text-input{
  border-color: #ed4337;
} 
.group-form:has(.form-input:invalid:not(:placeholder-shown)) .form-text-input .img-mess {
  display: none;
}
.group-form:has(.form-input:invalid:not(:placeholder-shown)) .form-text-input .img-err,
.group-form:has(.form-input:invalid:not(:placeholder-shown)) .form-err {
  display: block;
}

.form-err {
  display: none;   
  color: #ed4337;
  font-size: 1.4rem;
  margin-top: 6px;
  animation: fadeIn linear 0.2s;
}
.img-err {
  display: none;
  animation: shake linear 0.4s;
}    
.form-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.form-check label {
  font-size: 1.6rem;
  color: #888;
  display: flex;
  align-items: center;
  position: relative;
  gap: 8px;
  cursor: pointer;
  user-select: none;
}
.forgot-pass {
  font-size: 1.6rem;
  color: var(--primary-color);
}
.form-check label::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 4px;
  border: 1px solid #9e9da8; 
  background-color: #fff;
}
.form-check label::after {
  content: "";
    position: absolute;
    width: 14.7px;
    height: 9px;
    border: 3px solid;
    border-color: transparent transparent #fff #fff;
    rotate: -45deg;
    top: 5px;
    left: 2px;
}
#checked-label:checked + label::before{
  background-color: var(--primary-color);
} 
#checked-label-sign-up:checked + label::before {
  background-color: var(--primary-color);
}
.btn-sign-in {
  background-color: var(--primary-color);
  color: #fff;
  width: 100%;
  height: 40px;
  font-size: 1.8rem;
  border-radius: 8px;
  margin-top: 16px;
  transition: opacity linear 0.3s;
  border: none;  
}
.group-form:has(.form-input:invalid) ~ .btn-sign-in {
  user-select: none;
  opacity: 0.7;  
  pointer-events: none;

}
.signIn-gg {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;    
  margin: 16px 0 26px;
  border: 1px solid #d2d1d6;
  border-radius: 8px;
  cursor: pointer;
  gap: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.gg-desc {
  font-size: 1.8rem;
  font-weight: 500;
}
.dont-SignIn, .dont-SignUp {
  font-size: 1.8rem;
  font-weight: 500;
  color: #928f8f;
  padding: 0 0 10px 0;
}
.dont-SignIn a,
.dont-SignUp a {
  color: var(--primary-color);
}
/* none modal sign in */
.modal-sign-in {
  display: none;
}
/* sign btn */
.sign button {
  font-size: 1.9rem;
  padding: 11.5px 14px;
  line-height: 17px;
  border-radius: 10px;
  font-weight: 500;
}
.sign-in:hover {
  color: var(--primary-color);
}
.sign-up {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 500;
}
.sign-up:hover {
  opacity: 0.8;
}

/* -------------------------------------user----------------- */
.user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.user .name {
  font-size: 1.8rem;
  color: var(--text-color);
}
/* avatar */
.avatar {
  position: relative;
}
.avt-list {
  background-color: #fff ;
  position: absolute;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  width: 150px;
  right: -15px;
  /* height: 200px; */
  top: 50px;

}
.avt-item button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 6px;
  gap: 8px;
  width: 100%;
}
.avt-item:hover {
  background-color: #f0f0f0;
}
.change-avt {
  font-size: 1.6rem;
  color: var(--text-color);
}
.avt-item i {
  font-size: 1.8rem;
}
  